{% extends "base.html" %}
{% block content %}
  {% if user_logged_in %}
    <h1>Kaikki tehtävät</h1>
  {% endif %}

  <p>
    <a href="{{base_path}}/tasks/create" class="btn btn-success">Luo uusi tehtävä</a>
  </p>
  <div class="row">
    
    <div class="col-md-2">
       <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Categories</th>
          </tr>
        </thead>

        <tbody>
          <!-- Listataan pelit tähän -->
          <tr>
            <td><a href="{{base_path}}">All</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-10">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Nimi</th>
            <th>Prioriteetti</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Merkitse suoritetuksi</th>
          </tr>
        </thead>

        <tbody>
          <!-- Listataan pelit tähän -->
          {% if tasks %}
                {% for task in tasks %}
                  <tr>
                    <td><a href="{{base_path}}/tasks/task/{{task.id}}">{{task.title}}</a></td>
                    {% if task.priority == 1 %}
                    <td>Korkea</td>
                    {% endif %}
                    {% if task.priority == 2 %}
                    <td>Normaali</td>
                    {% endif %}
                    {% if task.priority == 3 %}
                    <td>Matala</td>
                    {% endif %}
                    <td>{{task.due_date}}</td>
                    {% if task.status == 0 %}
                    <td>Ei suoritettu</td>
                    {% endif %}
                    {% if task.status == 1 %}
                    <td>Suoritettu</td>
                    {% endif %}
                    <td><a href="{{base_path}}/tasks/complete/{{task.id}}" class="btn btn-success">Suorita</a></td>
                  </tr>
                {% endfor %}
          {% endif %}
         
        </tbody>
      </table>
    </div>

  </div>
  
{% endblock %}
